nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: $color-header-texto;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
